<a href="https://colab.research.google.com/github/Akashkunwar/dscodes/blob/master/imdb_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a1b10

In [96]:
import re

a = input()

x = re.findall('\D', a)
y = re.findall('\d+', a)
c = ''
for s,t in zip(x,y):
  if int(t)%2==0:
    c = c+s*int(t)
  else:
    c = c+s+t  
print(c)

b3c6d15
b3ccccccd15

In [52]:
a, b = input().split() 

if len(a)>len(b):
  c = len(a) - len(b)
  d = []
  for x in range(1,c+1):
    d.append(x)

elif len(a)<len(b):
  c = len(b) - len(a)
  d = []
  for x in range(1,c+1):
    d.append(x)

else:
  pass

e = ''
for x in d:
  e = e+str(x)

if len(a)>len(b):
  b = b+e
elif len(a)<len(b):
  a = a+e
else:
  pass

f = ''
for x,y in zip(a,b):
  f = f+x+y
  
print(f)

Abi Bhuvana
ABbhiu1v2a3n4a

In [23]:
a = input()
b = list(a)
c = list(range(0,len(a)))

d = []
try:
  for x in c:
    e = a[x:x+2]
    # if len(e)==2:
    d.append(e)
except:
  pass

f = []
for x in d:
  if x == 'ab':
    f.append(x)

for x in d:
  if x == 'a':
    f.append(x)

g = ''
for x in f:
  g = g+x
len(g)

ababababa

In [25]:
f = []
for x in d:
  if x == 'ab':
    f.append(x)

for x in d:
  if x == 'a':
    f.append(x)

g = ''
for x in f:
  g = g+x
len(g)

In [6]:
a = input()
b = list(a)
c = list(range(0,len(a)))

d = []
try:
  for x in c:
    e = a[x:x+2]
    if len(e)==2:
      d.append(e)
except:
  pass

f = []
try:
  for x in c:
    e = a[x:x+3]
    if len(e)==3:
      f.append(e)
except:
  pass

print(*a)
print(*d)
print(*f)

g = []
h = []
i = []
for x in a:
  if x == 'A':
    g.append(x)

for x in d:
  if x == 'AB':
    g.append(x)

for x in f:
  if x == 'ABB':
    g.append(x)

print(*a)
print(*d)
print(*f)

print(*g)
print(*h)
print(*i)

ABBABBABBABBABB
A B B A B B A B B A B B A B B
AB BB BA AB BB BA AB BB BA AB BB BA AB BB
ABB BBA BAB ABB BBA BAB ABB BBA BAB ABB BBA BAB ABB

In [ ]:
a,b = input().split(' ')
b = int(b)
c = list(range(0,len(a)))

d = []
try:
  for x in c:
    e = a[x:x+b]
    if len(e)==b:
      d.append(e)
except:
  pass
print(*d)

prog 3
pro rog

In [ ]:
a = input()
b = input()
c = 0
if b in a:
  c = a.index(b[0])
else:
  c = -1
print(c)

test123string
123
5

In [ ]:
a = input()
b = input()
c = 0
if a in b:
  c = b.index(a[0])
elif b in a:
  c = a.index(b[0])
else:
  c = -1
print(c)

yuvi
weyuvi
2

In [ ]:
a = int(input())
b = []
for x in range(0,a):
  b.append(input())

c = []
def vowel_count(string):
  vowels = ['a', 'e', 'i', 'o', 'u','A','E','I','O','U']
  d = len([i for i in string if i in vowels])
  c.append(d)

for x in b:
  vowel_count(x)

e = dict(zip(b,c))
f = sorted(e.items(), key=lambda x: x[1])[::-1]
for x in f:
  print(x[0])

3
Vishal
Aaae
Awqr
Aaae
Vishal
Awqr

In [ ]:
a = [str(i) for i in input().split(" ")]
for x in a:
  if x=='':
    a.remove('')
print(*a)

sad sad ds    sad sad  df
sad sad ds sad sad  df

In [ ]:
a,b = input().split()
b = int(b)
c = [int(i) for i in input().split(' ')]
c = sorted(c)
print(c[-b])

6 2
1 2 3 4 5 6
5

In [ ]:
a = input()
c = [int(i) for i in input().split(' ')]
i = -1
d = []
for x in c:
  i = i+1
  if i==x:
    d.append(x)
if len(d)==0:
    print(-1)
else:
    print(*d)

3 4 5

In [ ]:
a = input()
b = input()
a = list(set(list(a)))
b = list(set(list(b)))
c = len(a)
d = len(b)
e = list(set(a+b))
f = len(e)
if f==c or f==d:
  print('no')
else:
  print('yes')

yes

In [ ]:
a = 'aabbba'
a = list(a)
sorted(a)

['a', 'a', 'a', 'b', 'b', 'b']

In [ ]:
d = c[:2]
d = sorted(d)
e = c[2:]
e = sorted(e)[::-1]
print(d+e)

[3, 4, 4, 2, 1]

In [ ]:
a = input()
b = []
for x in a:
  b.append(int(x)**len(a))
print(sum(b))

123
98

In [ ]:
I = 1
V = 5
X = 10
L = 50
C = 100
D = 500
M = 1000
a = input()
a = list(a)
b = []
for x in a:
  if x=='I':
    b.append(1)
  elif x=='V':
    b.append(5)
  elif x=='X':
    b.append(10)
  elif x=='L':
    b.append(50)
  elif x=='C':
    b.append(100)
  elif x=='D':
    b.append(500)
  elif x=='M':
    b.append(1000)
z = sum(b)
if z==0:
  print(-1)
else:
  print(z)

VI
6

In [ ]:
import numpy as np
import math
try:
  a,b = input().split()
  a = int(a)
  b = int(b)
  a = list(range(a+1))
  b = list(range(b+1))
  a = a[1:]
  b = b[1:]
  a = np.prod(a)
  b = np.prod(b)
  c = math.gcd(a,b)
  print(c)
except:
  print(-1)

4 2
2

In [ ]:
aa = input()
a = list(list(aa))
b = a[::-1]
if a==b:
  print(aa[:-1])
else:
  print(aa)

hello
hello

In [ ]:
a,b = input().split()
a = list(set(list(a)))
b = list(set(list(b)))
if a==b:
  print('true')
else:
  print('false')

alloy loyal
true

In [ ]:
a = list(set(input()))
if len(a) < 3:
  for x in a:
    if x=='a' or x=='b':
      l = 'yes'
    else:
      l = 'no'
else:
  l = 'no'

print(l)

aabbaaab
yes

In [ ]:
a = list(input())
try:
  # a.remove(' ')
  b = []
  for x in a:
    b.append(a.count(x))
  t = -1
  g = []
  for x in b:
    t = t+1
    if x==1:
      g.append(a[t])
  # print(*g,sep='')
except:
  a=list(a)
  b = sorted(set(a), key=lambda x: a.index(x))
  # print(*b,sep='')

o = []
for x in a:
  if x in g:
    o.append(x)
  else:
    o.append(x.upper())
print(*o,sep='')

computer program
cute ga
cOMPuteR PROgRaM

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
c = int(bin(a)[2:])*int(bin(b)[2:])
d = list(str(c))
try:
    d[d.index('1')]='0'
    for x in d:
      if x=='1':
        print(d.index('1')+1)
except:
    print(0)

18 2
4

In [ ]:
a = input()
b = list(a)[::-1]
d = ''
e = -1
for x in b:
  e=e+1
  if x.isalpha():
    d = d+x
  elif x.isdigit():
    d = d*int(x)
print(d[::-1])

3(abc2(a))
abcaaabcaaabcaa

In [ ]:
a = input()
b = [int(i) for i in input().split(' ')]
c = b[::-1]
print(*c,sep='->')

7
1 2 3 4 5 6 7
7->6->5->4->3->2->1

In [ ]:
a = input()
b = []
c = []
for x in a:
  if x=='a'or x=='e'or x=='i'or x=='o'or x=='u' or x=='A'or x=='E'or x=='I'or x=='O'or x=='U':
    b.append(x)
  else:
    c.append(x)
d = b+c
print(*d,sep='')

uIGV

In [ ]:
a = list(set(list(input())))
b = list(set(list(input())))
if a==b:
  print(1)
else:
  print(0)

asdfvf
werfgfvcxds
0

In [ ]:
a = input()
b = input()
if len(a)==len(b):
  a = list(set(list(a)))
  b = list(set(list(b)))
  if a==b:
    print(1)
  else:
    print(0)
else:
    print(0)

asdf
asdfa
0

In [ ]:
a = input()
if len(a)==1:
  print(0)
else:
  v = 0
  c = 0
  for x in a:
    if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u':
      v = v+1
    else:
      c = c+1

  # print('v',v)
  # print('c',c)

  max = v+c
  print(max)

v 3
c 11

In [ ]:
a = list(input())
b = []
for x in a:
  b.append(a.count(x))
c = dict(zip(a,b))
d = list(c.items())
e = []
for x in d:
  for y in x:
    e.append(y)
print(*e,sep="")

asdfgh
a1s1d1f1g1h1

In [ ]:
a = list(input())
try:
  a.remove(' ')
  b = []
  for x in a:
    b.append(a.count(x))
  t = -1
  g = []
  for x in b:
    t = t+1
    if x==1:
      g.append(a[t])
  print(*g,sep='')
except:
  a=list(a)
  b = sorted(set(a), key=lambda x: a.index(x))
  print(*b,sep='')

In [ ]:
a = int(input())
b=[]

for x in range(0,a):
  b.append(input())
b = sorted(b)
print(b[0])

In [ ]:
a = [str(i).capitalize() for i in input().split(' ')]
print(*a,sep='')

In [ ]:
a = list(input())
b = []
try:
  for x in range(len(a)):
    if a[x]==a[x+1]:
      b.append(a[x+1])
      a.remove(b[0])
      a.remove(b[0])
except:
  pass
print(*a,sep="")

1331
11

In [ ]:
a = list(input())
b = []
for x in a:
  b.append(a.count(x))
t = -1
g = []
for x in b:
  t = t+1
  if x==1:
    g.append(a[t])
print(*g,sep='')

mississipie
mpe

In [ ]:
aa = 'a'
b = 'an'
c = 'the'
a = [str(i).lower() for i in input().split(' ')]
d = []
t = -1
for x in a:
  t = t+1
  if x==aa or x==b or x==c:
    d.append(a[t+1])
if len(d)==0:
  print(-1)
else:
  print(*d)

das sda vga sv dv
-1

In [ ]:
a = int(input())
b = 0
c = []
while b<a:
  c.append(input())
  b+=1
d = []
for x in c:
  if ''.join(sorted(list(x))) in ''.join(sorted(c[0])):
    d.append(1)
  else:
    d.append(0)
print(sum(d))

5
kabali
kaabli
kababa
kab
kabail
3

In [ ]:
d = []
for x in c:
  if ''.join(sorted(list(x))) in ''.join(sorted(c[0])):
    d.append(1)
  else:
    d.append(0)

In [ ]:
a = [str(i) for i in input().split(' ')]
k = a.copy()
b = a[1:]

for x,y in zip(a,b):
  if x==y:
    a.remove(x)
    a.remove(x)
    b.remove(x)
    b.remove(x)
for x,y in zip(a,b):
  if x==y:
    a.remove(x)
    a.remove(x)
    b.remove(x)
    b.remove(x)
for x,y in zip(a,b):
  if x==y:
    a.remove(x)
    a.remove(x)
    b.remove(x)
    b.remove(x)
if len(a)==0:
  print(-1)
else:
  print(*a)

We love we love
We love we love

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
c = [int(i) for i in input().split(' ')]
try:
  print(list(set(c))[b-1])
except:
  print(-1)

5 4
1 1 1 1 5
-1

In [ ]:
a = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
b,c = input().split()
d = len(b)
e = len(c)
if d in a:
    n = a.index(d)
if a[n-1]==e or a[n+1]==e:
    print("yes")
else:
    print('no')

GUVI GEEKS
no

In [ ]:
a = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
b,c = input().split()
d = len(b)
e = len(c)
if d in a:
    n = a.index(d)
if a[n-1]==e or a[n-1]==e:
    print("yes")
else:
    print('no')

GUVIS GEEKTEC
no

In [ ]:
a = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
b,c = input().split()
d = len(b)
e = len(c)
if d in a:
    n = a.index(d)
if a[n-1]==e or a[n-1]==e:
    print("yes")
else:
    print('no')

GUVIS GEEKTEC
no

In [ ]:
a = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
b,c = input().split()
d = len(b)
e = len(c)
if d in a:
    n = a.index(d)
if a[n-1]==e or a[n-1]==e:
    print("yes")
else:
    print('no')

GUVIS GEEKTEC
no

In [ ]:
if a[n-1]==e or a[n+1]==e:
  print(0)

0

In [ ]:
a,b,c=input().split('/')
a = int(a)
b = int(b)
c = len(c)

x = list(range(1,32))
y = list(range(1,13))

d = []
if a in x:
  d.append(1)
else:
  d.append(0)

if b in y:
  d.append(1)
else:
  d.append(0)

if c == 4:
  d.append(1)
else:
  d.append(0)

if sum(d)==3:
  print('yes')
else:
  print('no')

01/12/1999
yes

In [ ]:
a,b,z = input().split()
a = list(a)
b = list(b)
z = int(z)
c = []
for x,y in zip(a,b):
  if x==y:
    c.append(0)
  else:
    c.append(1)

d = sum(c)
if z==d:
  print('yes')
else:
  print('no')

abc ade 2
yes

In [ ]:
a,b = input().split()
a = list(a)
b = int(b)
a = set(a)
c = []
for x in a:
  c.append(int(x))
c = sorted(c)
d = list(range(0,int(b)+1))
if c==d:
  print('yes')
else:
  print('no')

123403453 4
no

In [ ]:
a,b = input().split()
a = list(a)
b = list(b)
c = []
for x,y in zip(a,b):
  if x==y:
    c.append(0)
  else:
    c.append(1)
print(sum(c))

1

In [ ]:
a = [int(i) for i in input().split(" ")]
b = []
c = 0
for x in a:
  c = c+x
  b.append(c)
print(*b)

2 4 4 4
2 6 10 14

In [ ]:
a = [str(i) for i in input().split(" ")]
b = []
def rev(a):
  b.append(a[0]+a[1:-1][::-1]+a[-1])

for x in a:
  if len(x)==1:
    b.append(x)
  else:
    rev(x)

print(*b)

i enjoy codekata
i eojny ctakedoa

In [ ]:
a,b = input().split()

a = list(a)
b = list(b)

c = []
d = []

for x in a:
  c.append(a.count(x))
for x in b:
  d.append(b.count(x))

if c==d:
  print('yes')
else:
  print('no')

yes

In [ ]:
a,b = input().split()
c = 0
for x in a:
  if a[a.index(x)] == b:
    c = c+1
  else:
    pass
if c==0:
  print(-1)
else:
  print(c)

codekata a
2

In [ ]:
a = [str(i) for i in input().split(" ")]

t = -1
for x in a:
  t = t+1
  if x == 'and':
    b = a[t-1]
    c = a[t+1]
    a[t-1] = c
    a[t+1] = b

print(*a)

jack and jill went up and down to get water
jill and jack went down and up to get water

In [ ]:
a = int(input())

b = []
for x in range(0,a):
  b.append(input())

c = []
for x in b:
  c.append(b.count(x))

if 2 in c:
  print("yes")
else:
  print("no")

In [ ]:
a = list(input().split())
for x in range(1,len(a)-1):
  a[x] = a[x][::-1]
print(*a)

Hi woh era you

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)

c = []
for x in range(0,a):
  d,e = input().split()
  c.append(int(d))
  c.append(int(e))

if b in c:
  print("yes")
else:
  print("no")

3 5

In [ ]:
a,b = input().split()
if b in a:
  print("yes")
else:
  print("no")

codekata code
yes

In [ ]:
a = list(set(list(input())))
a = sorted(a)
print(*a,sep="")

aabbaa
ab

In [ ]:
a = int(input())
b = []
for x in range(0,a):
  b.append(input())

c = []
for x in b:
  if ("a" or "e" or "i" or "o" or "u") in list(x.lower()):
    c.append(1)
  else:
    c.append(0)
if 0 in c:
  print("no")
else:
  print("yes")

3
akash
arnav
harsh

In [ ]:
a,b = input().split()
a = list(a)
b = int(b)
try:
  c = list(range(0,len(a)+1,b))
  for x in c:
    a[x]=a[x].upper()

  print(*a,sep="")
except:
  print(*a,sep="")

string 2
StRiNg

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
c = []
for x in range(0,a):
  c.append(input())
  
d = []
for x in c:
  d.append(c.count(x))

for x in d:
  if x==b:
    z = 1
  else:
    z = 0

if z==1:
  print("yes")
else:
  print("no")

5 3
dfdbghj
szxcgv
dfxghn
sdfgvb
sdfvb
no

In [ ]:
a,z = input().split()
z = int(z)
a = list(a)
l = len(a)
b = []
for x in range(z,l+1,z):
  b.append(x)
c = []
for x in b:
  c.append(a[x-1])
print(*c)

string 3
r g

In [ ]:
a = list(input())
b = []
for x in a:
  if x!=" ":
    b.append(x)
  else:
    pass
print(*b,sep=(""))

In [ ]:
def a():
  print("call a()")
  b()
  print("After b()")
  c()
  print("Return a()")

def b():
  print("call b()")
  d()
  print("Return b()")

def d():
  print("call d()")
  print("Return d()")

def c():
  print("call c()")
  print("Return c()")

In [ ]:
a()

call a()
call b()
call d()
Return d()
Return b()
After b()
call c()
Return c()
Return a()

In [ ]:
print(int(list(bin(int(input()))[2:])[::-1].index("1"))+1)

100
3

In [ ]:
a = list(input())
a = a[::-1]
b = []
for x in a:
  b.append(x)
  b.append("-")
print(*b[:-1],sep="")

codekata
a-t-a-k-e-d-o-c

In [ ]:
a = [int(i) for i in input().split(" ")]
for x in a:
  ans = x&a[0]
print(x)

4 3 2 1

1

In [ ]:


aa = input()
a = [int(i) for i in input().split(" ")]
b = []
for x in a:
  if x!=0:
    b.append(x)
b = list(set(b))
c = b[::-1]
d = b+c
print(*d,sep="")

In [ ]:
aa = input()
a = [int(i) for i in input().split(" ")]
b = []
for x in a:
  if x!=0:
    b.append(x)
b = b[0:(len(b)+1)//2]
c = b[::-1]
d = b+c
print(*d,sep="")

In [ ]:
a = ["abc", "aab", "abc", "aba"]
b = []
c = []
for x in a:
  if x in b:
    c.append(x+"1")
  else:
    b.append(x)
    c.append("Verified")

In [ ]:
aa = input()
a = [str(i) for i in input().split(" ")]
b = []
c = []
for x in a:
  if x in b:
    c.append(x+"1")
  else:
    b.append(x)
    c.append("Verified")
print(*c)

4
abc aab abc aba

In [ ]:
a,b = input().split()
a = list(a)
b = list(b)
c = []
for x in a:
  if x not in b:
    c.append(x)
if len(c)==0:
  print(-1)
else:
  print(*c, sep="")

GUVI GEEK
UVI

In [ ]:
import pandas as pd
b = list(input())
d = []
for x in b:
  d.append(b.count(x))
e = pd.DataFrame(b,d)
f = list(e[e.index==1][0])
if len(f)==0:
  print(-1)
else:
  print(*f)

dabbc
d a c

In [ ]:
import pandas as pd
b = list(input())
d = []
for x in b:
  d.append(b.count(x))
e = pd.DataFrame(b,d)
f = list(set(list(e[e.index>1][0])))
if len(f)==0:
  print(-1)
else:
  print(*f)

dabbc
b

In [ ]:
a,b = input().split(" ")
c = list(range(0,len(b)))
d = []
for x in c:
  d.append(b[x])
e = []
try:
  for x in c:
    e.append(a.index(d[x]))
except:
  pass
if len(e)==len(c):
  print("Yes")
else:
  print("No")

Yuvi uviray
No

In [ ]:
a,b = input().split(" ")
if a in b:
  print("yes")
else:
  print("no")

qwer dsfg
no

In [ ]:
a = [str(i) for i in input().split(" ")]
print(*sorted(a))

esrtdfh hngfd wqertgh
esrtdfh hngfd wqertgh

In [ ]:
a,b = "virat", "kohli"
c = sorted(a+b)
d = c.index(a[0])
e = c.index(b[0])
if d>e:
  print(b,a)
else:
  print(a,b)

kohli virat

In [ ]:
a = int(input())
b = 0
c = []
while b<a:
  c.append(input())
  b+=1
d = 0
e = list(range(1,len(c)))
for x in e:
  if ''.join(sorted(c[x])) in ''.join(sorted(c[0])):
    d = d+1
  else:
    pass
print(d)

5
kabali
kaabli
kababa
kab
kabail
2

In [ ]:
e = list(range(1,len(c)))
for x in e:
 print(''.join(sorted(c[x])) in ''.join(sorted(c[0])))

True
False
False
True

In [ ]:
e = list(range(1,len(c)))
for x in e:
 print(''.join(sorted(c[x])), ''.join(sorted(c[0])))

aabikl aabikl
aaabbk aabikl
abk aabikl
aabikl aabikl

In [ ]:
z = []
def panagram(a):
  b = len(a)
  if b%2!=0:
    c = int((b+1)/2)
    r = list(range(c,b))
    l = list(range(c-2,-1,-1))
    d = []
    e = []
    for x in r:
      d.append(a[x])
    for y in l:
      e.append(a[y])
  elif b%2==0:
    b = len(a)
    c = int(b/2)
    r = list(range(c,b))
    l = list(range(c-1,-1,-1))
    b = 0
    d = []
    e = []
    for x in r:
      d.append(a[x])
    for y in l:
      e.append(a[y])
  else:
    pass
  if d==e:
    z.append(1)
  else:
    z.append(0)

t,k = input().split(" ")
panagram(t)
panagram(k)
if (z[0] == 1 & z[1] == 1):
  print(1)
else:
  print(0)

asdsa hgh
1

In [ ]:
a = int(input())
if (a>25 and a>20):
  print("yes")
else:
  print("no")

34

In [ ]:
x = int(input())
a = x**2
b = -8*a
c = 32*x
d = b+c+40
print(a,b,c,d)
d

4
16 -128 128 40

40

In [ ]:
def fnd(a):
  b = list(range(0,len(a)))
  c = []
  for x in b:
    c.append(a[x])
  d = []
  for x in c:
    d.append(a.count(x))
  try:
    b = a[d.index(1)]
  except:
    b = -1
  return b

In [ ]:
a = input()
b = list(range(0,len(a)))
c = []
for x in b:
  c.append(a[x])
d = []
for x in c:
  d.append(a.count(x))
try:
  b = a[d.index(1)]
except:
  b = -1
print(b)

dsfgf
d

In [ ]:
a = input()
b = len(a)
if b%2!=0:
  c = int((b+1)/2)
  r = list(range(c,b))
  l = list(range(c-2,-1,-1))
  d = []
  e = []
  for x in r:
    d.append(a[x])
  for y in l:
    e.append(a[y])
elif b%2==0:
  b = len(a)
  c = int(b/2)
  r = list(range(c,b))
  l = list(range(c-1,-1,-1))
  b = 0
  d = []
  e = []
  for x in r:
    d.append(a[x])
  for y in l:
    e.append(a[y])
else:
  pass
if d==e:
  print("yes")
else:a
  print("no")

sdfgh
no

In [ ]:
b = 0
c = []
d = []
for x in ro:
  c.append(a[x])
for y in lo:
  d.append(a[y])
  
# if a[x]==a[y]:
#   b = "yes"
# else:
#   b = "no"            
print(c,d)

['d', 's', 'a'] ['d', 's', 'a']

In [ ]:
# b = 0
# for x in ro:
#   for y in lo:
#     if a[x]==a[y]:
#       b = "yes"
#     else:
#       b = "no"
# print(b)

yes

In [ ]:
a = ["Akhil", "Charan", "Deepak", "Sunil", "Karthik", "Rakesh"]
b = ["Charan", "Rakesh", "Kiran", "Chidambaram", "Balachandra"]
c = ["Abbas", "Akhil", "Aditya", "Bhuvan", "Charan", "Dayal", "Deepak", "Kiran", "Jaivardhan", "Nithin", "Rakesh"]
# {Dayal, Deepak, Kiran, Jaivardhan\}}

# \{{Rakesh, Kiran, Chidambaram, Balachandra\}}

# \{{Bhuvan, Jaivardhan, Sunil, Chidambaram\}}

\{{Sunil, Chidambaram, Karthik, Balachandra\}}

In [ ]:
list(set(c) - set(b) or set(c))

['Akhil',
 'Dayal',
 'Aditya',
 'Nithin',
 'Jaivardhan',
 'Abbas',
 'Deepak',
 'Bhuvan']

In [ ]:
# !pip install opendatasets

In [ ]:
# import opendatasets as od
# od.download("https://datasets.imdbws.com/title.basics.tsv.gz")
# df1 = pd.read_csv("/content/title.basics.tsv.gz", sep='\t', error_bad_lines=False)
# df1.head()

In [ ]:
import warnings 
import pandas as pd
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep='\t', error_bad_lines=False)

In [ ]:
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8887680,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8887681,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8887682,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8887683,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8887684,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [ ]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
df.describe()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,8882383,8882383,8882372,8882372,8882383,8882383,8882383,8882383,8882373
unique,8882383,11,4103922,4123810,11,256,98,870,2310
top,tt0000001,tvEpisode,Episode #1.1,Episode #1.1,0,\N,\N,\N,Drama
freq,1,6665396,43377,43377,8543392,1184051,8792418,6488406,997811

In [ ]:
# tconst (string) - alphanumeric unique identifier of the title
# titleType (string)  the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
# primaryTitle (string)  the more popular title / the title used by the filmmakers on promotional materials at the point of release
# originalTitle (string) - original title, in the original language
# isAdult (boolean) - 0: non-adult title; 1: adult title
# startYear (YYYY)  represents the release year of a title. In the case of TV Series, it is the series start year
# endYear (YYYY)  TV Series end year. \N for all other title types
# runtimeMinutes  primary runtime of the title, in minutes
# genres (string array)  includes up to three genres associated with the title

In [ ]:
### Dealing with all individual columns

## titleType (string)  the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
# Filtering only movies from all the data
df = df[(df.titleType=='movie') | (df.titleType=='tvMovie')].reset_index(drop=True)

## primaryTitle (string)  the more popular title / the title used by the filmmakers on promotional materials at the point of release
# Leaving it as it is.

## originalTitle (string) - original title, in the original language
# Removing origional tittle because of primary tittle
df.drop("originalTitle", 1, inplace=True)

## isAdult (boolean) - 0: non-adult title; 1: adult title
# Making the isAdult column in correct format in 0,1 value
df["isAdult"] = df.isAdult.replace({'0':0,'1':1})

# Dropping

In [ ]:
df

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000502,movie,Bohemios,0,1905,\N,100,\N
1,tt0000574,movie,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,0,1907,\N,90,Drama
3,tt0000615,movie,Robbery Under Arms,0,1907,\N,\N,Drama
4,tt0000630,movie,Hamlet,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...
744546,tt9916680,movie,De la ilusin al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
744547,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66,Drama
744548,tt9916706,movie,Dankyavar Danka,0,2013,\N,\N,Comedy
744549,tt9916730,movie,6 Gunn,0,2017,\N,116,\N
744550,tt9916754,movie,Chico Albuquerque - Revelaes,0,2013,\N,49,Documentary

In [ ]:
a[a.str.isdigit()]

TypeError: ignored

In [ ]:
a.unique()

array([1905, 1906, 1907, 1908, 1909, 1910, 1912, 1911, 1913, 1915, 1914,
       1919, 1916, 1917, 1936, 1925, 1918, 1920, 1922, 1921, 1924, 1923,
       1928, 2019, 1926, 1927, 1929, 2000, 1993, 1935, 1930, 1942, 1932,
       1931, 1934, 1939, 1937, 1933, 1950, 1938, 1951, 1946, 1996, 1940,
       1944, 1947, 1941, 1952, 1970, 1957, 1943, 1948, 1945, 2001, 1949,
       1953, 1954, 1965, 1983, 1980, 1973, 1961, 1955, 1962, 1958, 1956,
       1977, 1964, 1960, 1959, 1967, 1968, 1963, 1986, 1971, 1969, 1972,
       1966, 1976, 1990, 1979, 1974, 1981, 2020, 1988, 1975, 1978, 1989,
       '1972', '1971', '1970', '1974', '1973', '1976', '1969', '1985',
       '1981', '1968', '1980', '1995', '1986', '1965', '1987', '1975',
       '1978', '1967', '1990', '2018', '1979', '1977', '1988', '1984',
       '1966', '1982', '1983', '1991', '1963', '2001', '1961', 0, '1989',
       '1994', '1993', '1964', '1957', '2019', '1992', '2005', '1953',
       '2004', '1998', '2020', '1947', '2016', '2002', '1959', '1996',
       '2017', '1997', '2000', '1945', '1956', '1999', '2021', '2006',
       '1955', '2009', '1949', '2008', '2022', '2003', '2007', '1930',
       '1938', '1960', '1944', '1935', '1962', '1951', '1954', '1952',
       '1958', '1918', '1943', '1921', '1941', '1939', '1940', '1950',
       '1946', '1916', '1934', '1948', '1933', '1929', '1936', '1925',
       '1932', '1928', '1917', '1919', '1926', '1937', '1931', '1920',
       '1942', '1922', '1927', '1923', '1924', '1915', '1914', '1913',
       '1911', '2010', '1912', '1909', '1910', '1905', '1898', '1899',
       '2012', '1908', '2013', '1906', '1907', '2011', '1904', '2015',
       '1897', '1901', '1902', '1900', '1903', '2014', '2024', '2023',
       '2025', '2027', '2026', '2028', '2029', '1896'], dtype=object)

In [ ]:
a[a==0]

60154     0
67301     0
71328     0
73073     0
84359     0
         ..
744525    0
744528    0
744532    0
744534    0
744544    0
Name: startYear, Length: 82685, dtype: object

In [ ]:
if a[a=="\NN"]

110371    2013
146467    2013
160301    2013
184156    2013
208471    2013
          ...
744378    2013
744381    2013
744437    2013
744548    2013
744550    2013
Name: startYear, Length: 18182, dtype: object

In [ ]:
a = 78

In [ ]:
type(a) == int

True

In [ ]:
df.isAdult.value_counts()

0    735127
1      9424
Name: isAdult, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744551 entries, 0 to 744550
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          744551 non-null  object
 1   titleType       744551 non-null  object
 2   primaryTitle    744551 non-null  object
 3   originalTitle   744551 non-null  object
 4   isAdult         744551 non-null  int64
 5   startYear       744551 non-null  object
 6   endYear         744551 non-null  object
 7   runtimeMinutes  744551 non-null  object
 8   genres          744551 non-null  object
dtypes: int64(1), object(8)
memory usage: 51.1+ MB

In [ ]:
# tconst (string)
# titleType (string)
# primaryTitle (string)  the more popular title / the title used by the filmmakers on promotional materials at the point of release
# originalTitle (string) - original title, in the original language
# isAdult (boolean)
# startYear (YYYY)  represents the release year of a title. In the case of TV Series, it is the series start year
# endYear (YYYY)  TV Series end year. \N for all other title types
# runtimeMinutes  primary runtime of the title, in minutes
# genres (string array)  includes up to three genres associated with the title

In [ ]:
df = df[(df.titleType=='movie') | (df.titleType=='tvMovie')].reset_index(drop=True)

In [ ]:
df["isAdult"] = df.isAdult.replace({'0':0,'1':1})

In [ ]:
df[df.startYear=='\\N']

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres
60154,tt0080155,movie,The Wonderful Years,0,\N,\N,104,Drama
67301,tt0089154,movie,Flesh and Bullets,0,\N,\N,84,Crime
71328,tt0094158,movie,To Market to Market,0,\N,\N,88,Drama
73073,tt0096410,movie,Walking After Midnight,0,\N,\N,92,Documentary
84359,tt0111597,movie,The Veiled Hope,0,\N,\N,52,Documentary
...,...,...,...,...,...,...,...,...
744525,tt9916100,movie,Inventing Robert Capa,0,\N,\N,\N,"Biography,Drama,War"
744528,tt9916134,movie,The Thing in the Bag,0,\N,\N,78,\N
744532,tt9916178,movie,Yesterday's Dreams,0,\N,\N,\N,\N
744534,tt9916188,movie,Minotaur,0,\N,\N,\N,Thriller
744544,tt9916620,movie,The Copeland Case,0,\N,\N,\N,Drama

In [ ]:
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
3,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
4,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
744421,tt9916680,movie,De la ilusin al desconcierto: cine colombiano...,De la ilusin al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
744422,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66,Drama
744423,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
744424,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
744425,tt9916754,movie,Chico Albuquerque - Revelaes,Chico Albuquerque - Revelaes,0,2013,\N,49,Documentary

In [ ]:
df["startYear"] = df.startYear.replace({'\\N':'unavailable'})
df["isAdult"] = df.isAdult.replace({'\\N':'unavailable'})
df["startYear"] = df.startYear.replace({'\\N':'unavailable'})
df["endYear"] = df.endYear.replace({'\\N':'unavailable'})
df["runtimeMinutes"] = df.runtimeMinutes.replace({'\\N':'unavailable'})
df["genres"] = df.genres.replace({'\\N':'unavailable'})

In [ ]:
df[df.primaryTitle=='\\N']

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [ ]:
import warnings 
import pandas as pd
warnings.filterwarnings("ignore")

In [ ]:
pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep='\t', error_bad_lines=False)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0071877,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0060827,tt0083922,tt0050986"
...,...,...,...,...,...,...
11586841,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
11586842,nm9993716,Essias Loberg,\N,\N,NaN,\N
11586843,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11586844,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11586845,nm9993719,Andre Hill,\N,\N,NaN,\N

In [ ]:
pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep='\t', error_bad_lines=False)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0071877,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0060827,tt0083922,tt0050986"
...,...,...,...,...,...,...
11586841,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
11586842,nm9993716,Essias Loberg,\N,\N,NaN,\N
11586843,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11586844,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11586845,nm9993719,Andre Hill,\N,\N,NaN,\N

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep='\t', error_bad_lines=False)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tnc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
31803566,tt9916852,5,Episdio #3.20,PT,pt,\N,\N,0
31803567,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
31803568,tt9916852,7,#3.20,IN,hi,\N,\N,0
31803569,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
31803570,tt9916856,2,The Wind,\N,\N,original,\N,1

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep='\t', error_bad_lines=False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8882378,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8882379,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8882380,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8882381,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8882382,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz", sep='\t', error_bad_lines=False)

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8882378  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8882379  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8882380  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8882381  tt9916856           nm10538645                      nm6951431
8882382  tt9916880            nm0996406            nm1482639,nm2586970

[8882383 rows x 3 columns]

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.episode.tsv.gz", sep='\t', error_bad_lines=False)

            tconst parentTconst seasonNumber episodeNumber
0        tt0020666   tt15180956            1             2
1        tt0020829   tt15180956            1             1
2        tt0021166   tt15180956            1             3
3        tt0021612   tt15180956            2             2
4        tt0021655   tt15180956            2             5
...            ...          ...          ...           ...
6665138  tt9916846    tt1289683            3            18
6665139  tt9916848    tt1289683            3            17
6665140  tt9916850    tt1289683            3            19
6665141  tt9916852    tt1289683            3            20
6665142  tt9916880    tt0985991            4             2

[6665143 rows x 4 columns]

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep='\t', error_bad_lines=False)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
50076671,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"
50076672,tt9916880,5,nm0996406,director,principal director,\N
50076673,tt9916880,6,nm1482639,writer,\N,\N
50076674,tt9916880,7,nm2586970,writer,books,\N
50076675,tt9916880,8,nm1594058,producer,producer,\N

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep='\t', error_bad_lines=False)

            tconst  averageRating  numVotes
0        tt0000001            5.7      1876
1        tt0000002            5.9       248
2        tt0000003            6.5      1648
3        tt0000004            5.8       160
4        tt0000005            6.2      2475
...            ...            ...       ...
1239447  tt9916690            6.5         6
1239448  tt9916720            5.1       209
1239449  tt9916730            8.7         6
1239450  tt9916766            6.7        19
1239451  tt9916778            7.2        34

[1239452 rows x 3 columns]