<a href="https://colab.research.google.com/github/Akashkunwar/dscodes/blob/master/imdb_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install opendatasets

In [ ]:
# import opendatasets as od
# od.download("https://datasets.imdbws.com/title.basics.tsv.gz")
# df1 = pd.read_csv("/content/title.basics.tsv.gz", sep='\t', error_bad_lines=False)
# df1.head()

In [ ]:
import warnings 
import pandas as pd
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep='\t', error_bad_lines=False)

In [ ]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
df.describe()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,8882383,8882383,8882372,8882372,8882383,8882383,8882383,8882383,8882373
unique,8882383,11,4103922,4123810,11,256,98,870,2310
top,tt0000001,tvEpisode,Episode #1.1,Episode #1.1,0,\N,\N,\N,Drama
freq,1,6665396,43377,43377,8543392,1184051,8792418,6488406,997811

In [ ]:
# tconst (string) - alphanumeric unique identifier of the title
# titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
# primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
# originalTitle (string) - original title, in the original language
# isAdult (boolean) - 0: non-adult title; 1: adult title
# startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
# endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
# runtimeMinutes – primary runtime of the title, in minutes
# genres (string array) – includes up to three genres associated with the title

In [ ]:
### Dealing with all individual columns

## titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
# Filtering only movies from all the data
df = df[(df.titleType=='movie') | (df.titleType=='tvMovie')].reset_index(drop=True)

## primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
# Leaving it as it is.

## originalTitle (string) - original title, in the original language
# Removing origional tittle because of primary tittle
df.drop("originalTitle", 1, inplace=True)

## isAdult (boolean) - 0: non-adult title; 1: adult title
# Making the isAdult column in correct format in 0,1 value
df["isAdult"] = df.isAdult.replace({'0':0,'1':1})

# Dropping

In [ ]:
df

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000502,movie,Bohemios,0,1905,\N,100,\N
1,tt0000574,movie,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,0,1907,\N,90,Drama
3,tt0000615,movie,Robbery Under Arms,0,1907,\N,\N,Drama
4,tt0000630,movie,Hamlet,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...
744546,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
744547,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66,Drama
744548,tt9916706,movie,Dankyavar Danka,0,2013,\N,\N,Comedy
744549,tt9916730,movie,6 Gunn,0,2017,\N,116,\N
744550,tt9916754,movie,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [ ]:
a[a.str.isdigit()]

TypeError: ignored

In [ ]:
a.unique()

array([1905, 1906, 1907, 1908, 1909, 1910, 1912, 1911, 1913, 1915, 1914,
       1919, 1916, 1917, 1936, 1925, 1918, 1920, 1922, 1921, 1924, 1923,
       1928, 2019, 1926, 1927, 1929, 2000, 1993, 1935, 1930, 1942, 1932,
       1931, 1934, 1939, 1937, 1933, 1950, 1938, 1951, 1946, 1996, 1940,
       1944, 1947, 1941, 1952, 1970, 1957, 1943, 1948, 1945, 2001, 1949,
       1953, 1954, 1965, 1983, 1980, 1973, 1961, 1955, 1962, 1958, 1956,
       1977, 1964, 1960, 1959, 1967, 1968, 1963, 1986, 1971, 1969, 1972,
       1966, 1976, 1990, 1979, 1974, 1981, 2020, 1988, 1975, 1978, 1989,
       '1972', '1971', '1970', '1974', '1973', '1976', '1969', '1985',
       '1981', '1968', '1980', '1995', '1986', '1965', '1987', '1975',
       '1978', '1967', '1990', '2018', '1979', '1977', '1988', '1984',
       '1966', '1982', '1983', '1991', '1963', '2001', '1961', 0, '1989',
       '1994', '1993', '1964', '1957', '2019', '1992', '2005', '1953',
       '2004', '1998', '2020', '1947', '2016', '2002', '1959', '1996',
       '2017', '1997', '2000', '1945', '1956', '1999', '2021', '2006',
       '1955', '2009', '1949', '2008', '2022', '2003', '2007', '1930',
       '1938', '1960', '1944', '1935', '1962', '1951', '1954', '1952',
       '1958', '1918', '1943', '1921', '1941', '1939', '1940', '1950',
       '1946', '1916', '1934', '1948', '1933', '1929', '1936', '1925',
       '1932', '1928', '1917', '1919', '1926', '1937', '1931', '1920',
       '1942', '1922', '1927', '1923', '1924', '1915', '1914', '1913',
       '1911', '2010', '1912', '1909', '1910', '1905', '1898', '1899',
       '2012', '1908', '2013', '1906', '1907', '2011', '1904', '2015',
       '1897', '1901', '1902', '1900', '1903', '2014', '2024', '2023',
       '2025', '2027', '2026', '2028', '2029', '1896'], dtype=object)

In [ ]:
a[a==0]

60154     0
67301     0
71328     0
73073     0
84359     0
         ..
744525    0
744528    0
744532    0
744534    0
744544    0
Name: startYear, Length: 82685, dtype: object

In [ ]:
if a[a=="\NN"]

110371    2013
146467    2013
160301    2013
184156    2013
208471    2013
          ...
744378    2013
744381    2013
744437    2013
744548    2013
744550    2013
Name: startYear, Length: 18182, dtype: object

In [ ]:
a = 78

In [ ]:
type(a) == int

True

In [ ]:
df.isAdult.value_counts()

0    735127
1      9424
Name: isAdult, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744551 entries, 0 to 744550
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          744551 non-null  object
 1   titleType       744551 non-null  object
 2   primaryTitle    744551 non-null  object
 3   originalTitle   744551 non-null  object
 4   isAdult         744551 non-null  int64
 5   startYear       744551 non-null  object
 6   endYear         744551 non-null  object
 7   runtimeMinutes  744551 non-null  object
 8   genres          744551 non-null  object
dtypes: int64(1), object(8)
memory usage: 51.1+ MB

In [ ]:
# tconst (string)
# titleType (string)
# primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
# originalTitle (string) - original title, in the original language
# isAdult (boolean)
# startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
# endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
# runtimeMinutes – primary runtime of the title, in minutes
# genres (string array) – includes up to three genres associated with the title

In [ ]:
df = df[(df.titleType=='movie') | (df.titleType=='tvMovie')].reset_index(drop=True)

In [ ]:
df["isAdult"] = df.isAdult.replace({'0':0,'1':1})

In [ ]:
df[df.startYear=='\\N']

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres
60154,tt0080155,movie,The Wonderful Years,0,\N,\N,104,Drama
67301,tt0089154,movie,Flesh and Bullets,0,\N,\N,84,Crime
71328,tt0094158,movie,To Market to Market,0,\N,\N,88,Drama
73073,tt0096410,movie,Walking After Midnight,0,\N,\N,92,Documentary
84359,tt0111597,movie,The Veiled Hope,0,\N,\N,52,Documentary
...,...,...,...,...,...,...,...,...
744525,tt9916100,movie,Inventing Robert Capa,0,\N,\N,\N,"Biography,Drama,War"
744528,tt9916134,movie,The Thing in the Bag,0,\N,\N,78,\N
744532,tt9916178,movie,Yesterday's Dreams,0,\N,\N,\N,\N
744534,tt9916188,movie,Minotaur,0,\N,\N,\N,Thriller
744544,tt9916620,movie,The Copeland Case,0,\N,\N,\N,Drama

In [ ]:
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
3,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
4,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
744421,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
744422,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66,Drama
744423,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
744424,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
744425,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [ ]:
df["startYear"] = df.startYear.replace({'\\N':'unavailable'})
df["isAdult"] = df.isAdult.replace({'\\N':'unavailable'})
df["startYear"] = df.startYear.replace({'\\N':'unavailable'})
df["endYear"] = df.endYear.replace({'\\N':'unavailable'})
df["runtimeMinutes"] = df.runtimeMinutes.replace({'\\N':'unavailable'})
df["genres"] = df.genres.replace({'\\N':'unavailable'})

In [ ]:
df[df.primaryTitle=='\\N']

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [ ]:
import warnings 
import pandas as pd
warnings.filterwarnings("ignore")

In [ ]:
pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep='\t', error_bad_lines=False)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0071877,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0060827,tt0083922,tt0050986"
...,...,...,...,...,...,...
11586841,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
11586842,nm9993716,Essias Loberg,\N,\N,NaN,\N
11586843,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11586844,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11586845,nm9993719,Andre Hill,\N,\N,NaN,\N

In [ ]:
pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep='\t', error_bad_lines=False)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0071877,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0060827,tt0083922,tt0050986"
...,...,...,...,...,...,...
11586841,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
11586842,nm9993716,Essias Loberg,\N,\N,NaN,\N
11586843,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11586844,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11586845,nm9993719,Andre Hill,\N,\N,NaN,\N

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep='\t', error_bad_lines=False)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
31803566,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
31803567,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
31803568,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
31803569,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
31803570,tt9916856,2,The Wind,\N,\N,original,\N,1

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep='\t', error_bad_lines=False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8882378,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8882379,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8882380,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8882381,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8882382,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz", sep='\t', error_bad_lines=False)

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8882378  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8882379  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8882380  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8882381  tt9916856           nm10538645                      nm6951431
8882382  tt9916880            nm0996406            nm1482639,nm2586970

[8882383 rows x 3 columns]

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.episode.tsv.gz", sep='\t', error_bad_lines=False)

            tconst parentTconst seasonNumber episodeNumber
0        tt0020666   tt15180956            1             2
1        tt0020829   tt15180956            1             1
2        tt0021166   tt15180956            1             3
3        tt0021612   tt15180956            2             2
4        tt0021655   tt15180956            2             5
...            ...          ...          ...           ...
6665138  tt9916846    tt1289683            3            18
6665139  tt9916848    tt1289683            3            17
6665140  tt9916850    tt1289683            3            19
6665141  tt9916852    tt1289683            3            20
6665142  tt9916880    tt0985991            4             2

[6665143 rows x 4 columns]

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep='\t', error_bad_lines=False)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
50076671,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"
50076672,tt9916880,5,nm0996406,director,principal director,\N
50076673,tt9916880,6,nm1482639,writer,\N,\N
50076674,tt9916880,7,nm2586970,writer,books,\N
50076675,tt9916880,8,nm1594058,producer,producer,\N

In [ ]:
pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep='\t', error_bad_lines=False)

            tconst  averageRating  numVotes
0        tt0000001            5.7      1876
1        tt0000002            5.9       248
2        tt0000003            6.5      1648
3        tt0000004            5.8       160
4        tt0000005            6.2      2475
...            ...            ...       ...
1239447  tt9916690            6.5         6
1239448  tt9916720            5.1       209
1239449  tt9916730            8.7         6
1239450  tt9916766            6.7        19
1239451  tt9916778            7.2        34

[1239452 rows x 3 columns]